@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400&display=swap');

.font-style {
  font-family: 'Libre Franklin', sans-serif;
}

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .custom-sm-bg {
    background-image: url('/BackgroundSmall.png');
    background-size:fill;
    background-repeat: repeat;
     
  }
  
  .custom-bg {
    background-image: url('/BackgroundBig.png');
    background-size:cover;
    background-repeat: repeat;
     
  }

  .gradient-text {
    background: linear-gradient(270deg, lightblue, goldenrod);
    background-size: 200% 200%;
    animation: gradient-animation 5s infinite linear;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  

  .skill-hover:hover {
    box-shadow: 0 0 10px 1px #007bff;
    transition: box-shadow 0.3s ease-in-out;
  }

  .hover\:glow:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 3px #000, 0 0 3px #000, 0 0 5px #000, 0 0 10px #000, 0 0 5px #fff;
  }
  
  .gradient-text-2 {

    background: linear-gradient(180deg, lightblue, goldenrod);
    background-size: 200% 200%;
    animation: gradient-animation 5s infinite linear;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  