@tailwind base;
@tailwind components;
@tailwind utilities;

.georgia-font {
    font-family: 'Georgia', serif;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .gradient-text {
    background: linear-gradient(270deg, lightblue, goldenrod);
    background-size: 200% 200%;
    animation: gradient-animation 5s infinite linear;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  

  .skill-hover:hover {
    box-shadow: 0 0 10px 1px #007bff;
    transition: box-shadow 0.3s ease-in-out;
  }

  .hover\:glow:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 3px #000, 0 0 3px #000, 0 0 5px #000, 0 0 10px #000, 0 0 5px #fff;
  }
  